public/activeXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item"/>
      </xs:sequence>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="slug"/>
        <xs:element ref="dpla"/>
        <xs:element ref="public"/>
        <xs:element ref="local"/>
        <xs:element ref="other_colls"/>
        <xs:element ref="collection"/>
        <xs:element ref="portals"/>
        <xs:element ref="dc_format"/>
        <xs:element ref="dc_right"/>
        <xs:element ref="dc_date"/>
        <xs:element ref="dc_relation"/>
        <xs:element ref="dcterms_is_part_of"/>
        <xs:element ref="dcterms_contributor"/>
        <xs:element ref="dcterms_creator"/>
        <xs:element ref="dcterms_description"/>
        <xs:element ref="dcterms_extent"/>
        <xs:element ref="dcterms_medium"/>
        <xs:element ref="dcterms_identifier"/>
        <xs:element ref="dcterms_language"/>
        <xs:element ref="dcterms_spatial"/>
        <xs:element ref="dcterms_publisher"/>
        <xs:element ref="dcterms_rights_holder"/>
        <xs:element ref="dcterms_subject"/>
        <xs:element ref="dcterms_temporal"/>
        <xs:element ref="dcterms_title"/>
        <xs:element ref="dcterms_type"/>
        <xs:element ref="edm_is_shown_at"/>
        <xs:element ref="dlg_local_right"/>
        <xs:element ref="dcterms_bibliographic_citation"/>
        <xs:element ref="dlg_subject_personal"/>
        <xs:element ref="edm_is_shown_by"/>
        <xs:element ref="dcterms_provenance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="slug" type="xs:NMTOKEN"/>
  <xs:element name="dpla">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:boolean">
          <xs:attribute name="type" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="public">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:boolean">
          <xs:attribute name="type" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="local">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:boolean">
          <xs:attribute name="type" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="other_colls">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="other_coll"/>
      </xs:sequence>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="other_coll" type="record_id"/>
  <xs:element name="collection" type="record_id"/>
  <xs:element name="portals">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="portal"/>
      </xs:sequence>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="portal">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="code" type="xs:NCName"/>
  <xs:complexType name="record_id">
    <xs:sequence>
      <xs:element ref="record_id"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="record_id" type="xs:NCName"/>
  <xs:element name="dc_format">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dc_format"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dc_right">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dc_right"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dc_date">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dc_date"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dc_relation">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dc_relation"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_is_part_of">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_is_part_of"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_contributor">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_contributor"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_creator">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_creator"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_description">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_description"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_extent">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_extent"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_medium">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_medium"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_identifier">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_identifier"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_language">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_language"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_spatial">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_spatial"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_publisher">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_publisher"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_rights_holder">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_rights_holder"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_subject">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_subject"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_temporal">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_temporal"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_title">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_title"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_type">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_type"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="edm_is_shown_at">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="edm_is_shown_at"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dlg_local_right">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dlg_local_right"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_bibliographic_citation">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_bibliographic_citation"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dlg_subject_personal">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dlg_subject_personal"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="edm_is_shown_by">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="edm_is_shown_by"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dcterms_provenance">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dcterms_provenance"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>